/* 
Web Development Assignment 2 - S1 2019
Name: Jaime king 
ID: 16959932  

This style sheet is used to format the html pages
*/

html {
    background-color: #6B5E62;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
  }

body {
  position: relative;
  display: inline-block;
  width: 80%;
  background-color: #f2f2f2;
  margin-bottom: 50px;
  margin-top: 8px;
}

header {
  display: flex;
  /* text-align: left; */
  padding: 10px;
  background-color: #E8DB71;
  overflow: hidden;
}

.nav {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 10px
}

header > h1 {
  color: #2F97C1;
  transform: rotate(20deg);
  height: 50px;
  margin-top: 1.5em;
  margin-left: 20px;
}

.nav > li {
  background-color: #E6E6E6;
  margin-bottom: 1px;

}

.nav > li:hover{
  background-color: grey;
  margin-bottom: 1px;
}

a { 
  width: 150px;
  color: black;
  padding: 14px;
  display: block;
  text-decoration: none;
}

.content {
  text-align: left;
  padding: 20px;
  overflow: hidden;
}

.content > img {
  display: block;
  width: 40%;
  float: right;
  margin-bottom: 50px;
}


.booking-card {
  padding: 10px;
  background-color: #EAFFFD;
}

.form-title {
    font-weight: bold;
}

.error-message {
  color: #D8000C;
}

  input[type=number], [type=date], input[type=time], [type=text],  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 8px 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .required:after {
    content: '*';
    color: red;
  }
  
  input[type=button] {
    width: 100%;
    background-color: #4C9F70;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color: #2F97C1;
  }

  .smallButton {
    width: 100px;
  }
  
  form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

